INTERNAL_SERVICE_SECRET="dev-internal-secret-change-me"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="change-me"
RABBITMQ_USER="cu_marketplace"
RABBITMQ_PASSWORD="change-me"
RABBITMQ_URL="amqp://cu_marketplace:change-me@localhost:5672"
